@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!--TODO: 
        User's who are logged in should display a proper homepage!!-->

<div class="container">
    <div class="d-flex flex-row justify-content-center pt-5">
        <div class="alert alert-warning w-75 " role="alert">
            <h4 class="alert-heading">Warning! You are not logged in!</h4>
            <p>This website is by Goucher students for Goucher students. To gain full access please log in.
                If you are a Goucher student and don’t have an account, please register first. </p>
            <hr>
            <p class="mb-0">Access to this website is forbidden to those outside the Goucher community.
            </p>
            <p class="my-0">Questions? Please email the administrator. </p>
        </div>
    </div>
    <div class="col-md-12 text-center">
        <a class="btn btn-primary btn-lg mr-5" asp-page="./Account/Login">Login</a>
        <a class="btn btn-secondary btn-lg ml-5" asp-page="./Account/Registration">Register</a>
        <form type="hidden" method="post">
            <button type="submit" class="btn-danger mt-5">Sign out</button>
        </form>
    </div>
</div>