@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy and Terms of Service";
}
<h1 class="mt-3 mb-2">GopherExchange Privacy Policy</h1>

<div class="container">
    <p>GopherExchange takes the privacy of its users seriously. The details below outline what we collect, how it is
        used
        and
        how you can opt out.</p>

    <h2>What is collected</h2>
    <p>To make GopherExchange function for everybody this is what we collect:</p>
    <ul>
        <li>Your Goucher College email address.</li>
    </ul>
    <h2>Why we collect that</h2>
    <ul>
        <li>This service is only authorized to the members of the Goucher College community. For
            transparency and
            security
            your Goucher email verifies your identity. Furthermore, your email address is used so that other community
            members
            are
            able to contact you about your listing.</li>
    </ul>
    <h2>How to opt out</h2>
    <ul>
        <li>For any time and for any reason, you are freely able to delete your account by going
            into your Account page
            and
            clicking Delete Account.</li>
    </ul>
</div>
<h1 class="mt-3 mb-2">GopherExchange Terms of Service</h1>
<div class="container">
    <p class="mb-2">Revised 2 December 2021</p>
    <p>The GopherExchange is designed to connect community members for exchange and give away of goods and services. To
        facilitate safe and transparent transactions, this section outlines basic Terms of Service.</p>
    <h2>Definitions</h2>
    <ul>
        <li><strong>You</strong>: refers to you, the end user using the service.</li>
        <li><strong>Administrator Team</strong>: refers to administrator team responsible for enforcing Terms of Service
            and curating the instance of GopherExchange.</li>
    </ul>
    <h2>Terms of Service</h2>
    <ul>
        <li><strong>Obey all Goucher College policies</strong>: As this is a service meant for the Goucher community,
            all
            Goucher College policies, including, but not limited to, Student Code of Conduct, are still in effect.</li>
        <li><strong>Write appropriate listings</strong>: Please remember that other members of the community are using
            this service. As such to ensure safety, transparency, security of users, refrains from making any
            inappropriate listing. Inappropriate listings include, but not limited to, illicit services, contraband, and
            any that violate Goucher College policies.</li>
    </ul>
    <h2>Violation of Terms of Service</h2>
    <p>If, for any reason, you are found to be in violation of any aforementioned terms above your account, may, without
        any prior notice, be banned from using GopherExchange or be terminated. Furthermore, appropriate academic
        disciplinary action maybe taken.</p>
    <h2>Changes and Questions</h2>
    <p>The Terms of Service maybe changed as necessary. For questions please email the<a
            href="mailto:nodar.sotkilava@mail.goucher.edu"> Administrator Team</a>.</p>
</div>
