@page
@model SearchModel
@{
    ViewData["Title"] = "Search Results";
}

<h1 class="mt-3 mb-2">Search results for: @Model.searchTerm</h1>

<div class="container">
    @if (Model.listings == null || Model.listings.Count == 0)
    {

        <h2 class="mt-3 mb-2">Sorry no listings of that title were found</h2>
    }
    else
    {
        <div class="card-columns">

            @foreach ((GopherExchange.Data.Listing list, String email) in Model.listings)
            {
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@list.Title</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Created:
                            @list.Date.ToString()
                        </h6>
                        @{
                            String s = "";
                            if (list.Typeid == 1) s = "Exchange";
                            if (list.Typeid == 2) s = "Give away";
                        }
                        <h6 class="card-subtitle mb-2 text-muted">Type: @s
                        </h6>
                        <p class-text>@list.Description</p>
                        <button class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Menu
                        </button>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="mailto:@email">Contact</a>
                            <a class="dropdown-item" href="#">Report</a>
                            <a class="dropdown-item" asp-page="Wishlists/AddToWishlist" asp-route-id=@list.Listingid>Add to
                                a wishlist</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>
